.custom-scrollbar::-webkit-scrollbar {
  height: 14px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #999;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #444;
}
