@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* h1{color:#8e5dfd}
h1{color:#5d69fd,}
h1{color:#3da4fc}
h1{color:#2c8063}
h1{color:#d07e4b}
h1{color:#d04b4b}
h1{color:#db56a3} */

@tailwind base;
@tailwind components;
@tailwind utilities;
